<div id="experience" class="min-vh-100 d-flex flex-column justify-content-center">
    <div class="row h3 p-3">
        <h3>Trainee Software Engineeer</h3>
        <p>Radixweb, Ahmedabad</p>
    </div>
    <div>
        <div class="text-center w-100 mb-0">
            <h1 class="mb-4">My Projects</h1>
        </div>
        <div>
            <div class="p-2">
                <div class="border p-4 rounded">
                    <h2>ONLINE LEARNING CENTER</h2>
                    <p>HTML,CSS,PHP,SQL</p>
                </div>
            </div>
            <div class="p-2">
                <div class="border p-4 rounded">
                    <h2>FACE MASK DETECTION SYSTEM</h2>
                    <p>PYTHON</p>
                </div>
            </div>
        </div>
    </div>
</div>