<div class="min-vh-100 d-flex flex-column justify-content-center">
    <h1 class="text-white">Gautam Nayak</h1>

    <div class="row h3 p-3">
        <p class="text-justify w-100 mb-4">An aspiring software engineer with knowledge in software
            engineering practices such as coding, testing, code reviews, code comments, etc. Strong ability to communicate
            with clients and ability to express ideas clearly and concisely.</p>
        <ul class="list-unstyled pt-3">
            <li><strong>Birthday:</strong> 08 April 2001</li>
            <li><strong>Phone:</strong> +91 7623075610</li>
            <li><strong>City:</strong> Porbandar, Gujarat</li>

            <li><strong>Age:</strong> 21</li>
            <li><strong>Degree:</strong> B.tech</li>
            <li><strong>Email:</strong> gautamnayak522@gmail.com</li>
        </ul>

    </div>


</div>